/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: black;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

ul {
    text-decoration: none;
}

/* HEADER  */

header {
    background-color: black;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 10px 20px;
    margin-top: 22px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    margin-top: 22px;

}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: goldenrod;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    padding: 30px;
    margin-left: 100px;
    
}

.navegacion:hover {

    background-color: grey;
    border: 100px;
    border-radius: 20px;
    transition: background-color .5s;
}

/* MAIN INDEX */

.videos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;

}


footer {
    color: goldenrod;
    text-align: center;
    font-family: sans-serif;
    background-color: black
}

/* CONTACTO */
.contacto {
    display: flex;
    justify-content: center;
    text-align: center;
}

.p__contacto {
    color: goldenrod;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #8A3033;
}

.form__register {
    margin: auto;
    width: 350px;
    max-width: 600px;
    border-radius: 10px;
    padding: 150px 0.5px;
}

.form {
    width: 400px;
    height: 50px;
    margin: 5px;
    overflow: hidden;
}

.form-1 {
    margin: 5px;
    width: 400px;
    height: 200px;
    top: 20px;
}

.boton {
    width: 400px;
    height: 50px;
    background-color: #3866f2;
    font-weight: 300px;
    border-radius: 15px;
}

.footer__contacto {
    color: goldenrod;
    
}

.footer__index {
    color: goldenrod;
    display: inline-block;
}

/* 
.form__noticias {
    display: block;
    padding-right: 300px;
    margin: auto;
    margin: 300px 900px;
    padding-right: 3000px;
    
} */

h1 {
    font-family: 'Rubik', sans-serif;
}


/* EXITOS a*/


.clips {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form__noticias {
    color: goldenrod;
    font-size: 55px;
    display:inline-block;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;

    
}

.form__noticias-a {
    padding: 20px;
    height: 50px;
    border-radius: 3px solid;
    margin-top: 5px;
    width: 300px;
}

.footer__exitos {
    color: goldenrod;
}

.footer__nov { 
    color: goldenrod;
}

/* NOSOTROS  */

.h2__noticias {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #8A3033;
    margin: 20px;
    font-size: 50px;
}



.contenido {
    /* width: 100%; */
    max-width: 870px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(5, 1000px);
    grid-template-rows: repeat(4, 2fr);
}


.footer__nosotros {
    color: goldenrod;

}
/* PAGE NOVEDADES */

.ns {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.h2__ns {
    flex-direction: center;

}

a {
    color: goldenrod;
    text-decoration: none;
    
}
a:hover {
    color: goldenrod;
}



.img__equipo {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }

.back {
    width: 100%;
}

       /* GRID EQUIPO DE TRABAJO */
    .contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 2 / 1 / 3 / 2; }
        .div4 { grid-area: 2 / 2 / 3 / 3; }


            /* @MEDIAS */

@media screen and (max-width: 500px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        display: none;
    }

    footer {
        font-size: 1rem;
    }


    .menu__div {
        display: flex;
    }

    .menu {
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
    }

    body {
        display: block;
       font-size: 10px;
    }

    .h2__ns {
        font-size: 20px;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .conteiner {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    .clips {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }
    

}