* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
    max-width: 100%;
}

body {
    min-height: 100vh;
    height: 399px;
    max-width: 1100px;
    background-color: black; 
    margin: 0 auto;
}

/* HEADER  */

header {
    background-color: black;
    display: flex;
}

/* img, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
} */


.menu { 
    display: flex;
}


.menu__ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    padding: 10px 20px;
    margin-top: 22px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    margin-left: 40px;
    margin-top: 5px;

}

.navegacion {
    justify-content: space-around;
    color: goldenrod;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    padding: 30px;
    margin-left: 100px;
    
}

.navegacion:hover {

    background-color: grey;
    border: 100px;
    border-radius: 20px;
    transition: background-color .5s;
}
 /* HEADER */


footer {
    display: flex;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    
    
}

.nav-link.active {
    color: goldenrod;
}

.nav-link {
    color: goldenrod;
}

.nav-link.active {
    color: goldenrod;
}

.footer__index {
    color: goldenrod;
    justify-content: center;
    
}

/* CONTACTO */
.contacto {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form__register {
    margin: auto;
    width: 350px;
    max-width: 600px;
    border-radius: 10px;
    padding: 150px 0.5px;
}

.form {
    width: 400px;
    height: 50px;
    margin: 5px;
    overflow: hidden;
}

.form-1 {
    margin: 5px;
    width: 400px;
    height: 200px;
    top: 20px;
}

.boton {
    width: 400px;
    height: 50px;
    margin: 5px;
    background-color: #3866f2;
    font-weight: 300px;
    border-radius: 15px;
}



.footer__contacto {
    color: goldenrod;
    
}

.parrafo {
        color: grey;
        display: inline-block;
        padding-bottom: 90px;
        margin: 30px 30px 50px 30px;
        font-family: 'Karla', sans-serif;
        font-weight: bold;
    }
/* FIN CONTACTO  */

/* EXITOS */
.form__noticias {
    display: block;
    padding-right: 300px;
    margin: auto;
    margin: 300px 900px;
    padding-right: 3000px;
    
}

.boton_1 {
    width: 400px;
    height: 50px;
    margin: 5px;
    background-color: #3866f2;
    font-weight: 300px;
    border-radius: 15px;
    
}

.videos_1 {
    width: 2rem;
}


/* FIN EXITOS */

.form__noticias h2 h1 {
    color: goldenrod;
    font-size: 55px;
    display:inline-block;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;

    
}

.form__noticias-a {
    padding: 20px;
    height: 50px;
    border-radius: 3px solid;
    margin-top: 5px;
    width: 300px;
}


.footer__exitos {
    color: goldenrod;
}

.contacto__footer {
    background-color: #3866f2;
}

.footer__nov { 
    color: goldenrod;
}

/* NOSOTROS  */


h2 {
    font-family: 'Rubik';
    color: #8A3033;
    margin: 40px;
}

.contenido {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(5, 1000px);
    grid-template-rows: repeat(4, 2fr);
}

.equipo {
    height: 700px;
    width: 600px;
}

.lucas {
    
    height: 500px;
    width: 400px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

.colo {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}

.gianfi {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}




.p__text {
    font-family: 'Work Sans';
    font-size: 25px;
    color: goldenrod;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 700px;
    margin-bottom: 500px;
    text-align: center;
    padding-right: 100px;
}

.p__text--1 {
    font-family: 'Work Sans';
    font-size: 25px;
    color: goldenrod;
    text-align: right;
    margin-right: 10px;
}

.footer__nosotros {
    color: goldenrod;

}
/* PAGE NOSOTROS */

.bb {
    width: 700px;
    display: inline-block;
    padding-bottom: 200px;
    border-radius: 45px;
    margin: 0px;

}

.dani {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    border-radius: 45px;
    margin: 0px;
}

.sara {
    width: 600px;
    display: inline-block;
    margin: 0px;
    
}

.ns {
    color: #8A3033;
    font-family: 'Rubik';
    margin: 40px;
    font-size: 50px;
    text-align: center;
}

div {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px;
    grid-auto-flow: column;
    
} 
.navbar-brand {
    color: goldenrod;
}

@media screen and (max-width: 990px) {
    .header__index {
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 

    .navegacion {
        justify-content: center;
    }
    
    .logo {
        display: none;
    }
    .navbar-brand {
        color: goldenrod;
        display: none;
    }

    .nav-link {
        color: goldenrod;
    }

    .nav-link.active {
        color: goldenrod;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        justify-items: center;
        margin-left: 45px;
        /* color: goldenrod; */
    }

}

@media screen and (max-width: 480px) {
    
    .header__index {
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 

    .navegacion {
        justify-content: center;
    }
    
    .logo {
        display: none;
    }
    .navbar-brand {
        color: goldenrod;
        display: none;
    }

    .nav-link {
        color: goldenrod;
    }

    .nav-link.active {
        color: goldenrod;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        justify-items: center;
        margin-left: 45px;
        /* color: goldenrod; */
    }
 

    .footer__index {
        color: aquamarine;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contenido {
       grid-template-columns: 2fr;
       grid-template-rows: 1fr 1fr 1fr 1fr; 
    }
    

}


.img__equipo {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }

.back {
    width: 100%;
}

       /* GRID EQUIPO DE TRABAJO */
    .contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 2 / 1 / 3 / 2; }
        .div4 { grid-area: 2 / 2 / 3 / 3; }

        /* GRID EQUIPO DE TRABAJO */

        /* GRID INDEX */
       
        .conteiner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
           /*  grid-column-gap: 1px;
            grid-row-gap: 1px; */
            margin-top: 50px;
            }
            
            .video__temas1{ grid-area: 1 / 1 / 2 / 2; }
            .video__temas2{ grid-area: 1 / 2 / 2 / 3; }
            .video__temas3{ grid-area: 2 / 1 / 3 / 2; }
            .video__temas4{ grid-area: 2 / 2 / 3 / 3; }

        /* GRID INDEX */