/* MISC */
/* Font Family */
/* Font Color */
/* Font Size */
/* MAPS */
/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  font-family: "Karla";
  font-weight: bold;
  letter-spacing: 3px;
  color: #8A3033;
  margin: 2rem;
  font-size: 5rem; }

body {
  background-color: black;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  max-width: 1200px;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

ul {
  text-decoration: none; }

/* PARTIALS */
/* HEADER */
header {
  background-color: black;
  display: flex; }
  header .menu {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 1rem 2rem;
    margin-top: 2.2rem;
    position: fixed;
    z-index: 1; }
  header .logo {
    display: flex;
    flex-direction: row;
    width: 12rem;
    align-items: center;
    margin-top: 2.2rem; }
  header .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: goldenrod;
    font-family: "Karla";
    font-weight: bold;
    padding: 3rem;
    margin-left: 10rem; }
    header .navegacion:hover {
      background-color: grey;
      border: 10rem;
      border-radius: 2rem;
      transition: background-color .5s; }

/* FOOTER */
footer {
  display: flex;
  color: goldenrod;
  text-align: center;
  font-family: "Karla";
  background-color: black;
  font-size: 1.5rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center; }

/* VIEWS */
/* MAIN INDEX */
.videos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5rem; }

.videos__flex {
  display: flex;
  justify-content: center; }
  .videos__flex .videos__flex-crace {
    justify-items: center; }

.colab__subtitle {
  margin-top: 10rem;
  padding-right: 10rem;
  font-weight: 30rem; }

.colab__videos {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  gap: 3rem;
  text-transform: uppercase; }
  .colab__videos .videos-flex__item-crace {
    padding-top: 0%;
    height: auto; }
  .colab__videos .videos-flex__item {
    margin-bottom: 5rem; }

.index__suscribe {
  display: flex;
  flex-direction: column; }
  .index__suscribe .index__h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20rem;
    text-transform: uppercase; }
  .index__suscribe .section__p {
    display: flex;
    color: goldenrod;
    font-size: 2rem;
    margin-right: 3rem;
    letter-spacing: 1px; }
    .index__suscribe .section__p .section__p--1 {
      margin-left: 38rem;
      font-family: "Arima";
      padding-right: 10rem;
      justify-items: flex-start; }

.form__index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  .form__index .form__index--a {
    padding: 2rem;
    margin-top: 3.5rem;
    margin-right: 1rem;
    width: 55rem;
    text-shadow: none; }
  .form__index .form__boton--index {
    width: 14.4rem;
    height: 50px;
    background-color: #3866f2;
    border-radius: 10px;
    margin-top: 3.4rem;
    margin-right: 1rem; }

/* CONTACTO */
.img__recital {
  width: 100%;
  height: 700px;
  display: flex;
  background-image: url("../images/recital.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }

.p__contacto {
  flex-direction: column;
  align-items: center;
  color: goldenrod;
  font-size: 2rem;
  font-family: "Karla";
  font-weight: bold;
  color: #8A3033;
  margin: 10rem 0 0 50rem; }

.form__contacto {
  display: flex;
  justify-content: center;
  text-align: center; }
  .form__contacto .form__register {
    width: 35rem;
    max-width: 60rem;
    border-radius: 1rem;
    padding: 10rem 0.5px; }
  .form__contacto .form {
    width: 40rem;
    height: 5rem;
    margin: 0.5rem;
    overflow: hidden; }

.btn, .btn .btn__wsp, .btn .btn__email {
  width: 40rem;
  height: 5rem;
  background-color: #3866f2;
  font-weight: 30rem;
  border-radius: 1.5rem; }
  .btn .btn__wsp {
    background-color: green; }
    .btn .btn__wsp:hover {
      background-color: greenyellow; }
  .btn .btn__email {
    background-color: #3866f2; }
    .btn .btn__email:hover {
      background-color: lightblue; }

/* EXITOS */
.grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 5px; }

.exitos__p {
  grid-area: 1 / 1 / 2 / 2; }

.div2 {
  grid-area: 1 / 2 / 2 / 3; }

.clip__dani {
  grid-area: 2 / 1 / 3 / 2; }

.exitos__p {
  grid-area: 2 / 2 / 3 / 3; }

.exitos {
  color: grey;
  font-family: "Jost";
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  font-size: 2rem; }
  .exitos .exitos__p {
    color: grey;
    justify-content: flex-end; }

.exitos__suscribe {
  display: flex;
  flex-direction: column; }
  .exitos__suscribe .exitos__h2 {
    display: flex;
    font-family: "Karla";
    justify-content: center;
    margin-right: 1.5rem;
    text-transform: uppercase; }
  .exitos__suscribe .section__p {
    display: flex;
    color: goldenrod;
    font-size: 2rem;
    margin-right: 3rem;
    letter-spacing: 1px; }
    .exitos__suscribe .section__p .section__p--1 {
      margin-left: 38rem;
      font-family: "Arima";
      padding-right: 10rem;
      justify-items: flex-start; }

.form__exitos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  .form__exitos .form__exitos--a {
    padding: 2rem;
    margin-top: 3.5rem;
    margin-right: 1rem;
    width: 55rem;
    text-shadow: none; }
  .form__exitos .form__boton--exitos {
    width: 14.4rem;
    height: 50px;
    background-color: #3866f2;
    border-radius: 10px;
    margin-top: 3.4rem;
    margin-right: 1rem; }

/* NOSOTROS  */
.equipo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 3rem; }
  .equipo .nosotros__p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
    font-size: 2rem;
    font-family: "Arima"; }

.nosotros__suscribe {
  display: flex;
  flex-direction: column; }
  .nosotros__suscribe .nosotros__h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20rem;
    text-transform: uppercase; }
  .nosotros__suscribe .section__p {
    display: flex;
    color: goldenrod;
    font-size: 2rem;
    margin-right: 3rem;
    letter-spacing: 1px; }
    .nosotros__suscribe .section__p .section__p--1 {
      margin-left: 38rem;
      font-family: "Arima";
      padding-right: 30rem;
      justify-items: flex-start; }

.form__nosotros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  .form__nosotros .form__nosotros--a {
    padding: 20px;
    margin-top: 3.5rem;
    margin-right: 1rem;
    width: 55rem;
    text-shadow: none; }
  .form__nosotros .form__boton--nosotros {
    width: 14.4rem;
    height: 5rem;
    background-color: #3866f2;
    border-radius: 1rem;
    margin-top: 3.4rem;
    margin-right: 1rem; }

/* NOVEDADES */
body a {
  color: goldenrod;
  text-decoration: none; }
  body a:hover {
    color: goldenrod; }

body .ns {
  display: flex;
  justify-content: center;
  font-weight: bolder; }
  body .ns .h2__ns {
    flex-direction: center;
    text-transform: uppercase; }

body .footer__nov {
  color: goldenrod;
  margin-top: 90rem;
  height: 1rem; }

/*  MEDIAS QUERIES */
@media screen and (max-width: 500px) {
  body {
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    body header {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      body header .logo {
        display: none; }
  .form__div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer {
    font-size: 1rem; }
  .menu__div {
    display: flex; }
    .menu__div .menu {
      flex-direction: column;
      justify-content: center;
      font-size: 10px; }
  .h2__ns {
    font-size: 20px; }
  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .conteiner {
    display: flex;
    flex-direction: column;
    max-width: 500px; }
  .clips {
    display: flex;
    flex-direction: column;
    max-width: 500px; } }

@media screen and (max-width: 780px) {
  body {
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    body header {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      body header .logo {
        display: none; }
  .form__div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .index__suscribe {
    flex-direction: column; }
  footer {
    font-size: 1rem;
    display: flex; }
  .menu__div {
    display: flex; }
    .menu__div .menu {
      flex-direction: column;
      justify-content: center;
      font-size: 10px; }
  .h2__ns {
    font-size: 20px; }
  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .conteiner {
    display: flex;
    flex-direction: column;
    max-width: 500px; }
  .clips {
    display: flex;
    flex-direction: column;
    max-width: 500px; } }
