/* HEADER */
header {
    background-color: black;
    display: flex; 
    
    .menu {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        list-style: none;
        padding: 1rem 2rem;
        margin-top: 2.2rem;
        position: relative;
    }

    
    .logo {
    display: flex;
    flex-direction: row;
    width: 12rem;
    align-items: center;
    margin-top: 2.2rem;

    }

    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $font-color1;
        font-family: $font-secondary;
        font-weight: bold;
        padding: 3rem;
        margin-left: 10rem;
        
        &:hover {

            background-color: grey;
            border: 10rem;
            border-radius: 2rem;
            transition: background-color .5s;
        }
        
    }


}




