/* CONTACTO */

.img__recital {
    display: flex;   
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.p__contacto {
    flex-direction: column;
    align-items: center;
    color: $font-color1;
    font-size: 2rem;
    font-family: $font-secondary;
    font-weight: bold;
    color: $font-color2;
    margin: 10rem 0 0 50rem;
}


.form__contacto {
    display: flex;
    justify-content: center;
    text-align: center;
}


.form__register {
    width: 350px;
    max-width: 600px;
    border-radius: 10px;
    padding: 100px 0.5px;
}


.form {
    width: 400px;
    height: 50px;
    margin: 5px;
    overflow: hidden;
}



.btn {
    width: 400px;
    height: 50px;
    background-color: #3866f2;
    font-weight: 300px;
    border-radius: 15px;
}

.btn__wsp {
    @extend .btn;
    background-color: green;
    &:hover { 
        background-color: greenyellow;
        
    }
}


.btn__email {
    @extend .btn;
    background-color: #3866f2;
    &:hover {
        background-color: lightblue;
    }

}

