/* EXITOS */

.clips {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 25%;
}

.form__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form__noticias {
    color: goldenrod;
    font-size: 55px;
    width: 0.5rem;
    margin-right: 30rem;
    font-family: $font-secondary;
}

.form__noticias-a {
    padding: 20px;
    margin-top: 5px;
    margin-right: 1rem;
    width: 300px;
}

.form__boton {
    width: 400px;
    height: 50px;
    background-color: #3866f2;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: 10rem;
}


.flex__p p {
    background-color: #3866f2;
    font-family: map-get($fuentes,principal);
    display: flex;
    flex-direction: column;
}


.h2__noticias {
    display: flex;
    font-family: map-get($fuentes,secondary);
    justify-content: center;
    margin-right: 1.5rem;
}
