/* EXITOS */

.grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    }
    
    .exitos__p { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .clip__dani { grid-area: 2 / 1 / 3 / 2; }
    .exitos__p { grid-area: 2 / 2 / 3 / 3; }

.exitos {
    color: grey;
    font-family: map-get($fuentes,principal);
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    font-size: 2rem;

    .exitos__p {
        color: grey;
        justify-content: flex-end;

    }
}




.exitos__suscribe {
    display: flex;
    flex-direction: column;

    .exitos__h2 {
        display: flex;
        font-family: map-get($fuentes,secondary);
        justify-content: center;
        margin-right: 1.5rem;
        text-transform: uppercase;
    }

    .section__p {
        display: flex;
        color: $font-color1;
        font-size: 2rem;
        margin-right: 3rem;
        letter-spacing: 1px;

        .section__p--1 {
            margin-left: 38rem;
            font-family: $font-alternative;
            padding-right: 10rem;
            justify-items: flex-start;
        }
    }


}

.form__exitos {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    .form__exitos--a {
        padding: 2rem;
        margin-top: 3.5rem;
        margin-right: 1rem;
        width: 55rem;
        text-shadow: none;
    }

    .form__boton--exitos {
        width: 14.4rem;
        height: 50px;
        background-color: #3866f2;
        border-radius: 10px;
        margin-top: 3.4rem;
        margin-right: 1rem;
    }
    
    
}




