/* NOVEDADES */
body {
    a {
        color: $font-color1;
        text-decoration: none;

        &:hover {
            color: $font-color1;
        }
        
    }

    .ns {
        display: flex;
        justify-content: center;
        font-weight: bolder;
        
        .h2__ns {
            flex-direction: center;
            text-transform: uppercase;
        }
        
    }
    
    .footer__nov { 
        color: $font-color1;
        margin-top: 90rem;
        height: 1rem;
    }
}







