/* NOVEDADES */

.footer__nov { 
    color: goldenrod;
    margin-top: 90rem;
    display: inline-block;
}

.ns {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.h2__ns {
    flex-direction: center;

}

a {
    color: goldenrod;
    text-decoration: none;
    
}

a:hover {
    color: goldenrod;
}
