@media screen and (max-width: 700px) {
    
    body {
        display: flex;
        justify-content: space-evenly;
        font-size: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5rem;
        font-size: $font-subtitle;
    }

    header a {
        font-size: $font-subtitle;
    }

    header .logo {
        
        display: none;
        
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        list-style: none;
        padding: 1rem 2rem;
        margin-top: 2.2rem;
        position: relative;
    }
    
    .form__div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .colab__videos {
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-transform: uppercase;
        margin-top: 20rem;
    }

    footer {
        font-size: 1rem;
    }


    .menu__div {
        display: flex;
        }
        
    .menu {
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
     }

    .h2__ns {
        font-size: 20px;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .conteiner {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    .clips {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }
    

}

@media screen and (max-width: 768px) {
        
    .colab__videos {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        flex-wrap: wrap;
        text-transform: uppercase;
        margin-top: 20rem;
        align-items: baseline;
        justify-content: flex-end;
    
    }

    header .logo {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        list-style: none;
        padding: 1rem 2rem;
        margin-top: 2.2rem;
        position: relative;

    }

}

@media screen and (max-width: 480px) {
    .grilla {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        
    }
}