/* Font Family */

$font-principal: 'Jost'; 
$font-secondary: 'Karla';
$font-alternative: 'Arima';

/* Font Color */

$font-color1: goldenrod;
$font-color2: #8A3033;

/* MAPS */

$fuentes: (
    principal: 'Jost',
    secondary: 'Karla', 
);