/* Font Family */

$font-principal: 'Jost'; 
$font-secondary: 'Karla';
$font-alternative: 'Arima';

/* Font Color */

$font-color1: goldenrod;
$font-color2: #8A3033;
$font-color3: grey;

/* Font Size */

$font-title: 5rem;
$font-subtitle: 2rem;
$font-footer:1.5rem;

/* MAPS */

$fuentes: (
    principal: 'Jost',
    secondary: 'Karla', 
);